@import './variables';

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Arcadia Textbook", "SF Mono", "Arcadia", "Zwizz", "Fira Code", "IBM Plex Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #333;
  min-height: 100%;
}

main {
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0px;
}
