@font-face {
  font-family: "Aileron-Black";
  src: url("../fonts/Aileron-Black.otf") format("opentype");
}
.aileron_black {
  font-family: "Aileron-Black";
}

@font-face {
  font-family: "Aileron-UltraLight";
  src: url("../fonts/Aileron-UltraLight.otf") format("opentype");
}
.aileron_ultralight {
  font-family: "Aileron-UltraLight";
}

@font-face {
  font-family: "Arcadia Textbook";
  src: url("../fonts/ArcadiaTextbook.otf") format("opentype");
}
.arcadia_textbook {
  font-family: "Aileron-Black";
}

@font-face {
  font-family: "ArchivoBlack";
  src: url("../fonts/ArchivoBlack.otf") format("opentype");
}
.archivo_black {
  font-family: "ArchivoBlack";
}

@font-face {
  font-family: "ArchivoNarrow-Regular";
  src: url("../fonts/ArchivoNarrow-Regular.otf") format("opentype");
}
.archivo_narrow_regular {
  font-family: "ArchivoNarrow-Regular";
}

@font-face {
  font-family: "Bagnard";
  src: url("../fonts/Bagnard.otf") format("opentype");
}
.bagnard_regular {
  font-family: "Bagnard";
}

@font-face {
  font-family: "BagnardSans";
  src: url("../fonts/BagnardSans.otf") format("opentype");
}
.bagnard_sans_regular {
  font-family: "BagnardSans";
}

@font-face {
  font-family: "BluuNext-Bold";
  src: url("../fonts/BluuNext-Bold.otf") format("opentype");
}
.bluu_next_bold {
  font-family: "BluuNext-Bold";
}

@font-face {
  font-family: "CooperHewitt-Heavy";
  src: url("../fonts/CooperHewitt-Heavy.otf") format("opentype");
}
.cooper_hewitt_heavy {
  font-family: "CooperHewitt-Heavy";
}

@font-face {
  font-family: "CothamSans";
  src: url("../fonts/CothamSans.otf") format("opentype");
}
.cotham_regular {
  font-family: "CothamSans";
}

@font-face {
  font-family: "EBGaramond12-Regular";
  src: url("../fonts/EBGaramond12-Regular.otf") format("opentype");
}
.eb_garamond_regular {
  font-family: "EBGaramond12-Regular";
}

@font-face {
  font-family: "GapSansBold";
  src: url("../fonts/GapSansBold.ttf") format("truetype");
}
.gap_sans_bold {
  font-family: "GapSansBold";
}

@font-face {
  font-family: "Junicode-BoldCondensed";
  src: url("../fonts/Junicode-BoldCondensed.ttf") format("truetype");
}
.junicode_bold_condensed {
  font-family: "Junicode-BoldCondensed";
}

@font-face {
  font-family: "LeagueGothic-Italic";
  src: url("../fonts/LeagueGothic-Italic.otf") format("opentype");
}
.league_gothic_italic {
  font-family: "LeagueGothic-Italic";
}

@font-face {
  font-family: "LiberationSans-Bold";
  src: url("../fonts/LiberationSans-Bold.otf") format("opentype");
}
.liberation_sans_bold {
  font-family: "LiberationSans-Bold";
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../fonts/LibreBaskerville-Regular.otf") format("opentype");
}
.libre_baskerville_regular {
  font-family: "LibreBaskerville-Regular";
}

@font-face {
  font-family: "mplus-1m-light";
  src: url("../fonts/mplus-1m-light.otf") format("opentype");
}
.mplus_mtype_1_light {
  font-family: "mplus-1m-light";
}

@font-face {
  font-family: "nimbus-sans-l_bold";
  src: url("../fonts/nimbus-sans-l_bold.otf") format("opentype");
}
.nimbus_sans_l_bold {
  font-family: "nimbus-sans-l_bold";
}

@font-face {
  font-family: "OfficeCodePro-Light";
  src: url("../fonts/OfficeCodePro-Light.otf") format("opentype");
}
.office_code_pro_light {
  font-family: "OfficeCodePro-Light";
}

@font-face {
  font-family: "OstrichSans-Heavy";
  src: url("../fonts/OstrichSans-Heavy.otf") format("opentype");
}
.ostrich_sans_heavy {
  font-family: "OstrichSans-Heavy";
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("../fonts/Oswald-Bold.otf") format("opentype");
}
.oswald_bold {
  font-family: "Oswald-Bold";
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.otf") format("opentype");
}
.poppins_medium {
  font-family: "Poppins-Medium";
}

@font-face {
  font-family: "Reglo-Bold";
  src: url("../fonts/Reglo-Bold.otf") format("opentype");
}
.reglo_bold {
  font-family: "Reglo-Bold";
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../fonts/Roboto-BlackItalic.otf") format("opentype");
}
.roboto_black_italic {
  font-family: "Roboto-BlackItalic";
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.otf") format("opentype");
}
.roboto_thin {
  font-family: "Roboto-Thin";
}

@font-face {
  font-family: "terminal-grotesque_open";
  src: url("../fonts/terminal-grotesque_open.otf") format("opentype");
}
.terminal_grotesque_open {
  font-family: "terminal-grotesque_open";
}

@font-face {
  font-family: "texgyreheros-bolditalic";
  src: url("../fonts/texgyreheros-bolditalic.otf") format("opentype");
}
.tex_gyre_heros_bold_italic {
  font-family: "texgyreheros-bolditalic";
}

@font-face {
  font-family: "texgyreheroscn-regular";
  src: url("../fonts/texgyreheroscn-regular.otf") format("opentype");
}
.tex_gyre_heros_condensed_regular {
  font-family: "texgyreheroscn-regular";
}

@font-face {
  font-family: "WorkSans-ExtraBold";
  src: url("../fonts/WorkSans-ExtraBold.otf") format("opentype");
}
.work_sans_extra_bold {
  font-family: "WorkSans-ExtraBold";
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/WorkSans-Light.otf") format("opentype");
}
.work_sans_light {
  font-family: "WorkSans-Light";
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url("../fonts/YoungSerif-Regular.otf") format("opentype");
}
.young_serif_regular {
  font-family: "YoungSerif-Regular";
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Arcadia Textbook", "SF Mono", "Arcadia", "Zwizz", "Fira Code", "IBM Plex Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #333;
  min-height: 100%;
  min-width: 320px;
}

main {
  min-width: 320px;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

/* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: auto;
  max-height: 80%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 80%;
    max-height: 80%;
    box-sizing: border-box;
  }
}
.notice {
  width: auto;
  display: inline-block;
  padding: 1em;
  margin: 0 0 2em 0;
}

.error {
  background-color: pink;
}

.success {
  background-color: #c0ffe3;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-group {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus, .pure-button-group {
  word-spacing: -0.43em;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000 \9 ;
}

.pure-button-disabled, .pure-button-disabled:active, .pure-button-disabled:focus, .pure-button-disabled:hover, .pure-button[disabled] {
  border: none;
  background-image: none;
  filter: alpha(opacity=40);
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #111;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #1cb841;
  /* this is a green */
}

.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}

.button-warning {
  background: #df7514;
  /* this is an orange */
}

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}

.controls {
  -webkit-user-select: none;
  user-select: none;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.6em;
  z-index: 1;
  background: #545454;
  cursor: default;
  transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
@media screen and (max-width: 550px) {
  .controls {
    left: -100%;
    width: 100%;
  }
}
.controls .controls__title {
  font-size: 16px;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 30px;
  display: block;
  border-bottom: 1px solid #666;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #545454;
  z-index: 1;
}
@media screen and (max-width: 550px) {
  .controls .controls__title {
    color: #545454;
  }
}
.controls .controls__buttons {
  flex: 1;
}
.controls .controls__footer {
  color: #9b9b9b;
  font-size: 12px;
  line-height: 1.2em;
  background-color: #545454;
}
.controls .controls__footer .controls__footer__note {
  padding: 20px 10px;
  text-align: center;
}
.controls .controls__footer .controls__footer__buttons {
  display: flex;
  border-top: 1px solid #666;
}
.controls .controls__footer .controls__footer__buttons .editbutton {
  border-radius: 0;
  flex: 1;
  border-bottom: 0;
  border-right: 1px solid #666;
}
.controls .controls__footer .controls__footer__buttons .editbutton:last-child {
  border-right: none;
}
.controls .controls__footer .controls__footer__buttons .editbutton__icon {
  flex: 1;
}
.controls .controls__footer .controls__footer__buttons .editbutton__content {
  flex: 1;
}
.controls .editbutton {
  margin: 0;
  overflow: hidden;
  color: silver;
  background: none;
  padding: 20px;
  border-radius: 3px;
  text-align: left;
  border-bottom: 1px solid #666;
  display: flex;
}
.controls .editbutton .editbutton__icon {
  flex: 1;
  font-size: 20px;
  text-align: center;
}
.controls .editbutton .editbutton__content {
  flex: 3;
}
.controls .editbutton.upload {
  cursor: pointer;
  position: relative;
}
.controls .editbutton.upload input[type=file] {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.controls .editbutton.clickable {
  cursor: pointer;
}
.controls .editbutton:hover {
  background: #747178;
  color: whitesmoke;
}
.controls .editbutton__label {
  display: flex;
  flex-direction: row;
}
.controls .editbutton__label span {
  flex: 1;
}
.controls .editbutton__label .icon {
  flex: 0.45;
}
.controls .editbutton__submenu {
  padding: 1.5em 1em 0 0;
  border-radius: 3px;
  font-size: 0.7em;
}
.controls .editbutton__submenu input[type=color] {
  cursor: pointer;
  margin-right: 1.5em;
}
.controls .editbutton__submenu label {
  cursor: pointer;
}

.controls__mobile-toggle {
  z-index: 90;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 550px) {
  .controls__mobile-toggle {
    top: 15px;
    opacity: 1;
    visibility: visible;
  }
}
.controls__mobile-toggle div {
  border-radius: 3px;
  padding: 15px 20px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 10px #787878;
  position: fixed;
  top: 20px;
  text-align: center;
  left: 50%;
  z-index: 90;
  transform: translate(-50%, 0);
}

.controls__toggle {
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  cursor: pointer;
  -webkit-touch-callout: none;
}

.controls__toggle:checked ~ .controls {
  left: 0;
}

.controls__mobile-toggle--open {
  display: inline-block !important;
}

.controls__mobile-toggle--close {
  display: none !important;
}

.controls__toggle:checked ~ label .controls__mobile-toggle--open {
  display: none !important;
}
.controls__toggle:checked ~ label .controls__mobile-toggle--close {
  display: inline-block !important;
}

.Loader {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  margin: auto;
  height: 100%;
  width: 100%;
  transition: all 0.25 ease-in-out;
  justify-content: center;
}
.Loader.transition-start {
  display: flex;
  align-items: center;
}
.Loader.loading {
  display: flex;
  align-items: center;
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}
.Loader.loaded {
  opacity: 0;
}
.Loader.loaded.transition-end {
  display: none;
}

.Image {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 150px;
  padding: 2em 1em 1em 1em;
  overflow: hidden;
  transition: all 0.2s;
  cursor: zoom-in;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  border-radius: 3px;
  position: relative;
}
@media screen and (max-width: 550px) {
  .Image {
    flex: 100%;
    width: auto;
    height: auto;
    max-height: calc(100vh - 250px);
  }
  .Image img {
    max-width: 100% !important;
    max-height: 100% !important;
    height: auto !important;
  }
}
.Image img {
  max-width: 100%;
  max-height: 90vh;
  height: auto;
  border-radius: 1px;
}
.Image.Image--inactive {
  cursor: zoom-in;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
}

.Image__container {
  overflow: hidden;
  text-align: center;
  flex: 2;
}
.Image__container img {
  max-height: 100%;
  max-width: 80%;
}

.Image:hover .Image__controls {
  display: block;
}

.Image__controls {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.Image__controls .button--delete {
  display: block;
}
.Image__controls .button--revert {
  display: none;
}
.Image__controls .button--on {
  display: block;
}
.Image__controls .button--off {
  display: none;
}

.Image--active {
  cursor: zoom-out;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  width: auto;
  height: auto;
  max-height: calc(100vh - 250px);
  flex: 100%;
  min-height: 180px;
}
.Image--active img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.Image--active .Image__container img {
  max-height: auto;
  max-width: auto;
}

.Image--markedfordeletion .Image__container {
  opacity: 0.3;
}

.Image__caption {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Image__caption span {
  padding: 1em 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Gallery--inactive .Image {
  cursor: default !important;
}

.breaker {
  width: 0px;
  height: 0px;
  display: block !important;
}

.title {
  font-size: 32px;
  padding: 20px;
}

.note {
  padding: 40px 20px;
}

body {
  background: pink;
  padding-left: 300px;
  min-height: 100%;
  transition: padding-left 0.2s ease-in-out;
}
@media screen and (max-width: 550px) {
  body {
    padding-left: 0;
  }
}

.modal {
  font-size: 12px;
}
.modal p {
  line-height: 1.3em;
}
.modal li {
  margin-bottom: 1em;
}
.modal .modal__inner {
  text-align: center;
  max-width: 520px;
  color: #666;
}
.modal .modal__inner h1 {
  color: #333;
  margin-bottom: 30px;
}
.modal .modal__inner .icon {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.modal .modal__inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal .modal__inner li {
  border-top: 1px solid whitesmoke;
  padding: 20px;
}

#drop-area {
  position: fixed;
  top: 0;
  left: 300px;
  height: 100%;
  width: calc(100% - 300px);
  z-index: -1;
  opacity: 0;
  background: #333333;
  transition: opacity 0.25s ease-in-out;
}
#drop-area.active {
  z-index: 999;
  opacity: 1;
}
#drop-area .drop-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

.modal {
  z-index: 99;
}

.Image .Image__caption span {
  cursor: text;
}

main {
  position: relative;
  height: 100%;
  padding-left: 20px;
}
@media screen and (max-width: 550px) {
  main {
    padding-left: 0;
  }
}

/*# sourceMappingURL=edit.css.map */
