@font-face {
  font-family: "Aileron-Black";
  src: url("../fonts/Aileron-Black.otf") format("opentype");
}
.aileron_black {
  font-family: "Aileron-Black";
}

@font-face {
  font-family: "Aileron-UltraLight";
  src: url("../fonts/Aileron-UltraLight.otf") format("opentype");
}
.aileron_ultralight {
  font-family: "Aileron-UltraLight";
}

@font-face {
  font-family: "Arcadia Textbook";
  src: url("../fonts/ArcadiaTextbook.otf") format("opentype");
}
.arcadia_textbook {
  font-family: "Aileron-Black";
}

@font-face {
  font-family: "ArchivoBlack";
  src: url("../fonts/ArchivoBlack.otf") format("opentype");
}
.archivo_black {
  font-family: "ArchivoBlack";
}

@font-face {
  font-family: "ArchivoNarrow-Regular";
  src: url("../fonts/ArchivoNarrow-Regular.otf") format("opentype");
}
.archivo_narrow_regular {
  font-family: "ArchivoNarrow-Regular";
}

@font-face {
  font-family: "Bagnard";
  src: url("../fonts/Bagnard.otf") format("opentype");
}
.bagnard_regular {
  font-family: "Bagnard";
}

@font-face {
  font-family: "BagnardSans";
  src: url("../fonts/BagnardSans.otf") format("opentype");
}
.bagnard_sans_regular {
  font-family: "BagnardSans";
}

@font-face {
  font-family: "BluuNext-Bold";
  src: url("../fonts/BluuNext-Bold.otf") format("opentype");
}
.bluu_next_bold {
  font-family: "BluuNext-Bold";
}

@font-face {
  font-family: "CooperHewitt-Heavy";
  src: url("../fonts/CooperHewitt-Heavy.otf") format("opentype");
}
.cooper_hewitt_heavy {
  font-family: "CooperHewitt-Heavy";
}

@font-face {
  font-family: "CothamSans";
  src: url("../fonts/CothamSans.otf") format("opentype");
}
.cotham_regular {
  font-family: "CothamSans";
}

@font-face {
  font-family: "EBGaramond12-Regular";
  src: url("../fonts/EBGaramond12-Regular.otf") format("opentype");
}
.eb_garamond_regular {
  font-family: "EBGaramond12-Regular";
}

@font-face {
  font-family: "GapSansBold";
  src: url("../fonts/GapSansBold.ttf") format("truetype");
}
.gap_sans_bold {
  font-family: "GapSansBold";
}

@font-face {
  font-family: "Junicode-BoldCondensed";
  src: url("../fonts/Junicode-BoldCondensed.ttf") format("truetype");
}
.junicode_bold_condensed {
  font-family: "Junicode-BoldCondensed";
}

@font-face {
  font-family: "LeagueGothic-Italic";
  src: url("../fonts/LeagueGothic-Italic.otf") format("opentype");
}
.league_gothic_italic {
  font-family: "LeagueGothic-Italic";
}

@font-face {
  font-family: "LiberationSans-Bold";
  src: url("../fonts/LiberationSans-Bold.otf") format("opentype");
}
.liberation_sans_bold {
  font-family: "LiberationSans-Bold";
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../fonts/LibreBaskerville-Regular.otf") format("opentype");
}
.libre_baskerville_regular {
  font-family: "LibreBaskerville-Regular";
}

@font-face {
  font-family: "mplus-1m-light";
  src: url("../fonts/mplus-1m-light.otf") format("opentype");
}
.mplus_mtype_1_light {
  font-family: "mplus-1m-light";
}

@font-face {
  font-family: "nimbus-sans-l_bold";
  src: url("../fonts/nimbus-sans-l_bold.otf") format("opentype");
}
.nimbus_sans_l_bold {
  font-family: "nimbus-sans-l_bold";
}

@font-face {
  font-family: "OfficeCodePro-Light";
  src: url("../fonts/OfficeCodePro-Light.otf") format("opentype");
}
.office_code_pro_light {
  font-family: "OfficeCodePro-Light";
}

@font-face {
  font-family: "OstrichSans-Heavy";
  src: url("../fonts/OstrichSans-Heavy.otf") format("opentype");
}
.ostrich_sans_heavy {
  font-family: "OstrichSans-Heavy";
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("../fonts/Oswald-Bold.otf") format("opentype");
}
.oswald_bold {
  font-family: "Oswald-Bold";
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.otf") format("opentype");
}
.poppins_medium {
  font-family: "Poppins-Medium";
}

@font-face {
  font-family: "Reglo-Bold";
  src: url("../fonts/Reglo-Bold.otf") format("opentype");
}
.reglo_bold {
  font-family: "Reglo-Bold";
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../fonts/Roboto-BlackItalic.otf") format("opentype");
}
.roboto_black_italic {
  font-family: "Roboto-BlackItalic";
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.otf") format("opentype");
}
.roboto_thin {
  font-family: "Roboto-Thin";
}

@font-face {
  font-family: "terminal-grotesque_open";
  src: url("../fonts/terminal-grotesque_open.otf") format("opentype");
}
.terminal_grotesque_open {
  font-family: "terminal-grotesque_open";
}

@font-face {
  font-family: "texgyreheros-bolditalic";
  src: url("../fonts/texgyreheros-bolditalic.otf") format("opentype");
}
.tex_gyre_heros_bold_italic {
  font-family: "texgyreheros-bolditalic";
}

@font-face {
  font-family: "texgyreheroscn-regular";
  src: url("../fonts/texgyreheroscn-regular.otf") format("opentype");
}
.tex_gyre_heros_condensed_regular {
  font-family: "texgyreheroscn-regular";
}

@font-face {
  font-family: "WorkSans-ExtraBold";
  src: url("../fonts/WorkSans-ExtraBold.otf") format("opentype");
}
.work_sans_extra_bold {
  font-family: "WorkSans-ExtraBold";
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/WorkSans-Light.otf") format("opentype");
}
.work_sans_light {
  font-family: "WorkSans-Light";
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url("../fonts/YoungSerif-Regular.otf") format("opentype");
}
.young_serif_regular {
  font-family: "YoungSerif-Regular";
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Arcadia Textbook", "SF Mono", "Arcadia", "Zwizz", "Fira Code", "IBM Plex Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #333;
  min-height: 100%;
  min-width: 320px;
}

main {
  min-width: 320px;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

.notice {
  width: auto;
  display: inline-block;
  padding: 1em;
  margin: 0 0 2em 0;
}

.error {
  background-color: pink;
}

.success {
  background-color: #c0ffe3;
}

/*!

Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
img, legend {
  border: 0;
}

legend, td, th {
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, optgroup, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre, textarea {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden, [hidden] {
  display: none !important;
}

.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-form input[type=text], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form select, .pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.pure-form input[type=color] {
  padding: 0.2em 0.5em;
}

.pure-form input:not([type]):focus, .pure-form input[type=text]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form select:focus, .pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

.pure-form input[type=file]:focus, .pure-form input[type=radio]:focus, .pure-form input[type=checkbox]:focus {
  outline: #129FEA auto 1px;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.pure-form input:not([type])[disabled], .pure-form input[type=text][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus, .pure-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input:not([type]), .pure-form-stacked input[type=text], .pure-form-stacked input[type=number], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=color], .pure-form-stacked input[type=file], .pure-form-stacked input[type=password], .pure-form-stacked input[type=email], .pure-form-stacked input[type=url], .pure-form-stacked input[type=date], .pure-form-stacked input[type=month], .pure-form-stacked input[type=time], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=week], .pure-form-stacked label, .pure-form-stacked select, .pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

.pure-form-aligned .pure-help-inline, .pure-form-aligned input, .pure-form-aligned select, .pure-form-aligned textarea, .pure-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

.pure-form .pure-input-rounded, .pure-form input.pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input, .pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus, .pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child, .pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child, .pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: 0.35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-3-4 {
  width: 75%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

.pure-form .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0.7em 0 0;
  }

  .pure-form input:not([type]), .pure-form input[type=text], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .pure-group input:not([type]), .pure-group input[type=text], .pure-group input[type=number], .pure-group input[type=search], .pure-group input[type=tel], .pure-group input[type=color], .pure-group input[type=password], .pure-group input[type=email], .pure-group input[type=url], .pure-group input[type=date], .pure-group input[type=month], .pure-group input[type=time], .pure-group input[type=datetime], .pure-group input[type=datetime-local], .pure-group input[type=week] {
    margin-bottom: 0;
  }

  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0;
  }

  .pure-form .pure-help-inline, .pure-form-message, .pure-form-message-inline {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}
.pure-control-group {
  margin-bottom: 1em;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-group {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus, .pure-button-group {
  word-spacing: -0.43em;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000 \9 ;
}

.pure-button-disabled, .pure-button-disabled:active, .pure-button-disabled:focus, .pure-button-disabled:hover, .pure-button[disabled] {
  border: none;
  background-image: none;
  filter: alpha(opacity=40);
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #111;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #1cb841;
  /* this is a green */
}

.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}

.button-warning {
  background: #df7514;
  /* this is an orange */
}

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}

main {
  padding: 2em;
  font-size: 14px;
}

legend {
  font-size: 1.25em;
}

header {
  font-size: 2em;
  margin-bottom: 1em;
  color: #333;
}

.separator {
  margin: 2.5em;
}

/*# sourceMappingURL=install.css.map */
