body {
    margin: 0;
    padding: 0;
    background: silver;
    color: #333;
    text-align: left;
    font-size: 12px;
    font-family: "Bookman Old Style", monospace;
}
*:focus {
    outline: none !important;
}
#breaker {
    width: 0px;
    height: 0px;
    display: block !important;
}

.title {
    font-size: 32px;
    padding: 24px 0 0 10px;
}
p {
    margin: 0px;
}
main {
    padding: 0;
    box-sizing: border-box;
}

.img {
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px 20px 10px;
    text-align: center;
}
img {
    display: inline-block;
    margin: 0px auto 5px;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    border-radius: 1px;
}
.small {
    text-align: left;
    max-width: 160px;
    height: 150px;
    cursor: pointer;
    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
}
.small > img {
    max-height: 83%;
}
.large {
    max-width: auto;
    max-height: auto;
    cursor: pointer;
    cursor: zoom-out;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
}

.caption {
    padding: 0 0 5px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}