@import 'index';
@import '../modules/modal';
@import '../modules/buttons';
@import '../modules/controls';
@import '../modules/loader';

body {
  background: pink;
  color: #333;
}

.modal {
  font-size: 16px;
  p {
    line-height: 1.3em;
  }
  li {
    margin-bottom: 1em;
  }
}

#drop-area {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  background: blue;
  transition: opacity 0.25s ease-in-out;
  &.active {
    z-index: 999;
    opacity: 1;
  }
  .drop-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
  }
}

.modal {
  z-index: 99;
}

.Image .Image__caption span {
  cursor: text;
}
