@import '../common/common';
@import '../modules/notice';
@import '../components/Gallery';

body {
  background: silver;
  color: #333;
}

.breaker {
  width: 0px;
  height: 0px;
  display: block !important;
}

.title {
  font-size: 32px;
  padding: 20px;
}

.note {
  padding: 40px 20px;
  color: rgba(120, 120, 120, 1);
}

p {
  margin: 0px;
}
main {
  padding: 0;
  box-sizing: border-box;
}

.caption {
  padding: 0 0 5px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
