@import '../common/common';
@import '../modules/notice';
@import '../modules/base';
@import '../modules/form';
@import '../modules/buttons';

main {
  padding: 2em;
  font-size: 14px;
}

legend {
  font-size: 2em;
}
