@import './common/common';

@import './modules/modal';
@import './modules/notice';
@import './modules/buttons';
@import './modules/controls';
@import './modules/loader';

@import './components/Gallery';
@import './components/Header';
@import './components/Footer';

body {
  background: pink;
  padding-left: $sidebarWidth;
  height: 100%;
}

.modal {
  font-size: 16px;
  p {
    line-height: 1.3em;
  }
  li {
    margin-bottom: 1em;
  }
}

#drop-area {
  position: fixed;
  top: 0;
  left: $sidebarWidth;
  height: 100%;
  width: calc(100% - #{$sidebarWidth});
  z-index: -1;
  opacity: 0;
  background: rgb(51, 51, 51);
  transition: opacity 0.25s ease-in-out;
  &.active {
    z-index: 999;
    opacity: 1;
  }
  .drop-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
  }
}

.modal {
  z-index: 99;
}

.Image .Image__caption span {
  cursor: text;
}

main {
  position: relative;
  height: 100%;
  padding-left: 20px;
}
