.Loader {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  margin: auto;
  height: 100%;
  width: 100%;
  transition: all 0.25 ease-in-out;
  justify-content: center;
  &.transition-start {
    display: flex;
    align-items: center;
  }
  &.loading {
    display: flex;
    align-items: center;
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);
  }
  &.loaded {
    &.transition-end {
      display: none;
    }
    opacity: 0;
  }
}
